{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}" style="display:inline-block;min-width:300px">
			<i class="fas fa-users"></i>
				{{ artist.name }}
		</a>
		<a href="#" id={{artist.id}} onclick="fetch('/artists/{{artist.id}}', {method: 'DELETE'})" style="display:inline-block;">
			<i class="fa fa-trash" style="color:gray"></i>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}