{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}" style="display:inline-block;min-width:300px">
				<i class="fas fa-music"></i>
					<span>{{ venue.name }}</span>
			</a>
			<a href="#" id={{venue.id}} onclick="fetch('/venues/{{venue.id}}', {method: 'DELETE'})" style="display:inline-block;">
				<i class="fa fa-trash" style="color:gray"></i>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}